@import '../../color.scss';

.hero {
    background-color: $primery;
    color: $secondery;
    padding: 110px 0;
    position: relative;
    padding-bottom: 220px;
    display: flex;
    flex-direction: column;
    align-items: center !important;

    .heroText {
        button {
            background: $gradient2;
            margin-top: 60px;
            padding: 12px 50px;
            font-weight: 700;
        }
    }

    .lowerHeroWrapper {
        background: linear-gradient(to right, #0865F1 0%, #C704F6 100%) !important;
        position: absolute;
        bottom: 0;
        max-width: 80%;
        border-radius: 1rem;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        padding: 3px 3px 0 3px;
        height: 140px;

    }

    .lowerHero {
        background: linear-gradient(223deg, rgb(23, 30, 109) 2%, rgb(27, 41, 53) 49%, rgb(0, 71, 123) 88%);
        border-radius: 1rem;
        padding: 50px;
        color: white;

        .fontStyle {
            background-image: linear-gradient(to right, #DB3BC1 18%, #143796 92%) !important;
            background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
        }
    }

    .wrapper {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        p {
            color: $secondery;
            font-weight: 500;
            width: 80%;
        }

    }
}