.productivity {
    margin-top: 200px;

    .productivityText {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        padding: 30px;
        background-color: red !important;
    }

    img {
        width: 500px;
    }
}