$primery: #000;
$secondery: white;
$tintgrey: #343A40;
$navyBlue: #09288E;
$gradient1: linear-gradient(27deg, rgba(2, 169, 255, 1) 0%, rgba(0, 0, 0, 1) 78%);
$gradient2 : linear-gradient(27deg, rgba(14, 255, 228, 1) 0%, rgba(255, 15, 246, 1) 83%);